body {
    font-family: red/black "sans-serif";
    background-color: #7f856f;
    margin: 0;
    padding: 150px;
}

.resume-container {
    display: inline-flex;
    background-color: rgb(236, 217, 217);
    white-space: 50%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px rgba(3, 3, 3, 0.1);
}

/* Contact Information Box Style */
.contact-box {
    border: 2px solid #333; /* Outer border */
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(236, 217, 217);
    max-width: 300px;
    margin: 10px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 5 5 ;
}

.contact-box h2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 8px;
    margin-top: 0; /* Remove margin if any */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.contact-heading {
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-heading::after {
    content: "";
    display: block;
    width: 300px; /* Line length */
    height: 2px; /* Line thickness */
    background-color: #333; /* Line color */
    margin-top: 5px;
}


.Left-section {
    background-color: #202f61;
    color: white;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-right: 2px solid #3a3737;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 20%;
    border-radius: 30%;
    border: 5px solid #a79697;
    margin-bottom: 30px;
}

.h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

.h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #e63946;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: none; /* Changed to remove bullets */
    padding: 0; /* Updated padding */
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

.right-section {
    padding: 20px;
    width: 65%; /* Added % to make it consistent */
}

.hidden {
    display: none;
}

button {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #9b7f81;
}